@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}

button{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: none;
    transition:  transform 0.1s linear;
    cursor: pointer;
}

button:focus{
    outline: none;
}
button:active{
    box-shadow: 0;
    transform: translate(2px, 2px);
}