@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(214, 243, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    text-align: justify;
    padding: 5rem;

}
#container{
    height: 550px;
    width: 400px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    cursor: pointer;
}

img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}