*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;
    background-repeat: no-repeat;
}

.trees{
    height: 100vh;
    width: 800vw;
    background-image: url(trees.png);
    /* background-size: cover; */
    position: absolute;
    background-repeat: repeat-x;
    top: -20px;
    animation: carMove linear 12s infinite;
}

.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    position: absolute;
    top: 90vh;
    background-repeat: repeat-x;
    animation: carMove linear 12s infinite;
}
.car{
    height: 100px;
    width: 280px;
    background-image: url(car.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 300px;
    bottom: -3vh;
    animation: shake linear 3s infinite;

}

.wheel1 img{
    width: 51px;
    position: relative;
    top: 35px;
    left: 33px;
    animation: wheelRotation linear .3s infinite;
}
.wheel2 img{
    width: 53px;
    position: relative;
    top: -18px;
    left: 193px;
    animation: wheelRotation linear .3s infinite;
}

@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove {
    100%{
        transform: translatex(-500vw);
    }
}
@keyframes shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
