@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #E2E8F0;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand{
    display: flex;
    align-items: center;
    
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin: 20px;
}

.project{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease-in-out all;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}
.project:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-body{
    padding: 0 0;
}
.project-btn{
    font-size: 1.2rem;
    width: 100%;
    border: none;
    border-radius: 0%;
    padding: 0.7rem 0.75rem;
}

.button{
    background-color: #000080;
    color: #E2E8F0;
}
.button:hover{
    background-color: #00009e;
    color: #eee;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000000;
    align-items: center;
    color: #E2E8F0;
    padding: 10px;
    margin-top: 30px;
}

footer .icons{
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: #E2E8F0;
}
footer a:hover{
    color: #E2E8F0;
}
.icons i{
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}
.icons i:hover{
    font-size: 25px;
    cursor: pointer;
    margin: 0 10px;
    color: #b5b5ff;
}
