@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("https://images.unsplash.com/photo-1588837538944-e4edf1e951e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 2rem;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
    font-weight: bold;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}
